caption{
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}

tr:nth-child(odd){
    background-color: rgb(200, 200, 200);
}

tr:nth-child(even){
    background-color: white;
}


table{
    border-bottom: 2px solid;
    border-collapse: collapse;
    /* border-color: black; */
    background-color: whitesmoke;
    margin: auto;
    width: 80%;
}


th,td{
    border: 1.5px solid;
    border-color: lightgrey;
    padding: 8px;
    text-align: center;
    font-size: 1.2rem;
}

th{
    background-color: dodgerblue;
    color: #ffff;
     padding: 15px;
}

tr:hover{
    background-color: lightgray;

}

.button{
    background-color: rgb(33, 69, 200);
    color: #ffff;
    border: 1px solid;
    padding: 6px;
    border-radius: 5px;
}


